.h-color {
  color: #2f67f0;
}

.form-theme {
  background-color: #3c2ff0f1;
}

.label-text {
  color: rgb(255, 255, 255);
}

.register,
.forget-pass {
  color: rgb(0, 255, 255);
}

.btn-login {
  font-weight: 700;
  height: 40px;
  font-size: 1rem;
  background-color: rgb(243, 245, 245);
  color: #2f67f0;
  border: 1px solid lightgrey;
}

.btn-login:hover {
  background-color: azure;
}

#line-hieght {
  height: 50px;
}

.row {
  margin: 0 0.7rem;
}

.image {
  background-image: url("../../assets/backround.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 65%;
  background-origin: content-box;
}

@media (max-width: 767px) {
  .image {
    display: none;
    margin: 1.5rem;
  }
  .btn-login {
    color: #2f67f0;
  }
  .form-theme {
    background-color: #2f67f0;
  }
}
