<div
  class="lead-add position-absolute end-0"
  *ngIf="currentUser.role === 'admin'"
>
  <button routerLink="../addleads" class="btn btn-outline-dark">
    Add New Lead
  </button>
</div>
<br /><br />
<table class="table m-t-30 table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th scope="col"><small>Name</small></th>
      <th scope="col"><small>Company Name</small></th>
      <th scope="col"><small>Action</small></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let lead of leads">
      <td>
        {{ lead?.Name }}
      </td>
      <td>
        <p [innerHTML]="lead?.company_name"></p>
      </td>
      <td>
        <button routerLink="/lead/{{ lead?.id }}" class="continue-reading">
          Open
        </button>
      </td>
    </tr>
  </tbody>
</table>
